<template>
    <div>
        <h1>Another Page</h1>
        <p>This is another page.</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: 'This is another page!'
        }
    }
}
</script>

<style scoped>
h1 {
    color: green;
}
</style>
