<template>
    <div id="app">
        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/recipes">Recipes</router-link>
            <router-link to="/contact">Contact</router-link>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'App',
};
</script>

<style>
nav {
    display: flex;
    gap: 10px;
}

router-link {
    text-decoration: none;
    color: blue;
}

router-link.active {
    font-weight: bold;
    color: red;
}
</style>
