<template>
    <div>
        <h1>Contact</h1>
        <p>Contact us at contact@example.com</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: 'This is the contact page!'
        }
    }
}
</script>

<style scoped>
h1 {
    color: purple;
}
</style>
