<template>
    <div>
        <h1>Home</h1>
        <p>{{ message }}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: 'Welcome to the Home Page!'
        }
    }
}
</script>

<style scoped>
h1 {
    color: blue;
}
</style>
