<template>
    <div>
        <form @submit.prevent="submitForm">
            <input type="text" v-model="name" placeholder="Enter your name">
            <button type="submit">Submit</button>
        </form>
        <p v-if="responseMessage">{{ responseMessage }}</p>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            name: '',
            responseMessage: ''
        }
    },
    methods: {
        async submitForm() {
            try {
                const response = await axios.post('/api/submit', { name: this.name });
                this.responseMessage = response.data.message;
            } catch (error) {
                console.error(error);
            }
        }
    }
}
</script>

<style scoped>
form {
    margin: 20px 0;
}
input {
    margin-right: 10px;
}
</style>
