<script>
export default {
    name: "RecipeDetailComponent",
    data() {
        return {
            recipe: {},
        }
    },
    async mounted() {
        const response = await fetch(`http://localhost:8000/api/recipes/${this.$route.params.id}`)
        this.recipe = await response.json()
    }
}
</script>

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Recipe detail page</div>
                    <div class="card-body">
                        <h1>{{ recipe.title }}</h1>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>
