<script>
import RecipeDetailComponent from "./RecipeDetailComponent.vue";

export default {
    computed: {
        RecipeDetailComponent() {
            return RecipeDetailComponent
        }
    },
    data() {
        return {
            recipes: [],
        }
    },
    async mounted() {
        const response = await fetch('http://localhost:8000/api/recipes')
        this.recipes = await response.json()
    }
}
</script>

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Recipes</div>
                    <ul>
                        <li v-for="recipe in recipes" :key="recipe.id">
                            <router-link :to="{
                                name: 'recipe-detail',
                                params: {id: recipe.id}}
                        ">
                                {{ recipe.title }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>
